header {
	width: 100%;
	height: 100vh;
	background-image: url(./img1.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.top {
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100vh;
}

.bg-light {
	background-color:transparent!important;
}

.navbar {
	padding: 1.5rem 0 0 2rem;
}

.navbar-light .navbar-brand {
	color: #fff;
	font-weight: bold;
	font-size: 36px;
}

.navbar-light .navbar-nav .nav-link {
	color: #fff;
	text-transform: uppercase;
	padding: 2.5rem 1.5rem 2.5rem 1.5rem;
	font-weight: bold;
	font-size: 14px;
	border-bottom: 2px solid transparent;
}

.navbar-light .navbar-nav .nav-link.active {
	color: #fff;
	border-bottom: 2px solid #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
	border-bottom: 2px solid #fff;
	color: #fff;
}

.navbar-nav {
	border-bottom: 1px solid #fff;
	padding-right: 2rem;
}

header .d-flex {
	color: #fff;
	width: 100%;
	height: 100vh;
	font-weight: bold;
	text-align: center;
	margin-top: -3rem;
}

header .d-flex h1 {
	font-size: 48px;
	text-transform: uppercase;
	font-weight: bold;
}

header span {
	color: #DD0847;
	margin: 0 10px;
}


#num-icons .p-2 {
	background: #eee;
	padding: 2rem 4rem!important;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 21px;
	text-align: center;
}

.p-2 span {
	font-size: 14px;
}

.love-text {
	padding: 0 8rem 0 4rem;
}

.love-img {
	background-image: url(./img2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 80rem;
	height: 20rem;
}

.love-text h4 {
	color: blue;
}

.love-text h2 {
	text-transform: uppercase;
}

.love-text p {
	color: #777;
}








/* ejercicio columna 

.bloque {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;

	-webkit-column-gap: 40px;
	-moz-column-gap: 40px;
	column-gap: 40px;

	-webkit-column-rule-style: solid;
	-moz-column-rule-style: solid;
	column-rule-style: solid;

	-webkit-column-rule-width: 1px;
	-moz-column-rule-width: 1px;
	column-rule-width: 1px;

	-webkit-column-rule-color: lightblue;
	-moz-column-rule-color: lightblue;
	column-rule-color: lightblue;
}

*/